<div class="flex items-center justify-end flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white py-2">
  <label for="table-search" class="sr-only">Search</label>
  <div class="relative">
      <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
      </div>
      <input type="text" id="table-search-users" class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Search for users">
  </div>
</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
              <th scope="col" class="px-12 py-3">
                  Nome
              </th>
              <th scope="col" class="px-6 py-3">
                  Cpf
              </th>
              <th scope="col" class="px-6 py-3">
                  Status
              </th>
              <th scope="col" class="px-6 py-3">
              </th>
          </tr>
      </thead>
      <tbody>
        <% @municipes.each do |municipe| %>
          <tr class="bg-white border-b dark:border-gray-700">
              <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                  <img class="w-10 h-10 rounded-full" src="https://img.freepik.com/vetores-premium/icone-da-conta-icone-do-usuario-graficos-vetoriais_292645-552.jpg?w=826" alt="profile image">
                  <div class="ps-3">
                      <div class="text-base font-semibold"><%= municipe.name %></div>
                      <div class="font-normal text-gray-500"><%= municipe.email %></div>
                  </div>
              </th>
              <td class="px-6 py-4">
                <%= municipe.cpf %>
              </td>
              <td class="px-6 py-4">
                  <div class="flex items-center">
                      <% if municipe.status === 'active' %>
                        <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> Ativo
                      <% else %>
                        <div class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"></div> Inativo
                      <% end %>
                  </div>
              </td>
              <td class="px-6 py-4">
                  <a href="#" class="font-medium text-blue-600 hover:underline">Edit user</a>
              </td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>
